@{
    ViewData["Title"] = "Decisive Technologies";
    Layout = "~/Views/Shared/_Layout-8.cshtml";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6  order-lg-2 order-1 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Order Successful!</h1>
                    <h2>We've recieved your payment. Please wiat sometime while we apply your licenses. Visit your Customer Portal to get access to your subscriptions. Thank you for your order. </h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a asp-controller="Portal" asp-action="Home" class="btn-get-started scrollto">Customer Portal</a>

                    </div>
                </div>

            </div>
        </div>

    </section><!-- End Hero -->

</main><!-- End #main -->